<div class="containareon">
  <h2>Create Pokemon</h2>
  <form id="create_pokemon" action="/pokemon" method="post">

    <div>
      <label>Name: </label>
      <input type="text" name="poke[name]">
    </div>

    <div>
      <label>Type: </label>
      <input type="text" name="poke[poke_type]">
    </div>

    <div>
      <label>CP: </label>
      <input type="text" name="poke[cp]">
    </div>

    <div>
      <label>Image URL: </label>
      <input type="text" name="poke[img_url]">
    </div>

    <h2><a
        href="javascript:{}"
        onclick="document.getElementById('create_pokemon').submit();"
        type="submit">(Create)
    </a></h2>
  </form>

  <a href="/pokemon">(Go Back)</a>
</div>
